#title {
  background-color: #ff4c68;
  color: #fff;
}
h1 {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}
.container-fluid {
  padding: 3% 15%;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar {
  padding-bottom: 4.5rem;
}
.title-img {
  width: 15rem;
  transform: rotate(20deg);
  position: absolute;
}
.title-button {
  margin-top: 1rem;
  margin-left: 0.5rem;
}
.icon {
  color: #ef8172;
}
.icon:hover {
  color: #ff4c68;
}
#features {
  text-align: center;
  padding: 0rem;
  background-color: #fff;
  position: relative;
}
.feature {
  padding: 7%;
}
h3 {
  font-family: "Montserrat";
  font-size: 1.5rem;
}
p {
  font-family: "Montserrat";
  color: #ff4c68;
  font-size: 0.85rem;
}
#testimonials {
  background-color: #ff4c68;
  text-align: center;
  padding: 5% 20%;
  color: #fff;
  font-family: "Montserrat";
}
#testimonials img {
  width: 10%;
  border-radius: 100%;
}
.carousel-item {
  padding: 0% 12%;
}
#press {
  background-color: #ff4c68;
  text-align: center;
}
#press img {
  width: 12%;
  margin: 30px 10px;
}

#pricing {
  text-align: center;
  font-family: "Montserrat";
  padding-top: 20px;
}

#pricing .row {
  padding: 2% 10%;
}
@media (max-width: 900px) {
  #title {
    text-align: center;
  }
  .title-img {
    position: static;
    transform: rotate(0deg);
    margin-top: 10px;
  }
  #features {
    position: static;
  }
  .container-fluid {
    padding: 3% 2%;
  }
}
#cta {
  background-color: #ff4c68;
  text-align: center;
  font-family: "Montserrat";
  color: #fff;
  padding: 3% 20% 10% 20%;
}
#cta h3 {
  font-size: 40px;
  margin-bottom: 20px;
}
#footer {
  text-align: center;
  padding: 7% 15%;
}
#footer i {
  margin: 20px 5px;
}
